.social-icon-circle {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.social-icon-circle i {
  line-height: 1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
